.tblTdss {
    padding-top: .75rem;
    padding-bottom: .75rem;
    padding-left: 3px;
    padding-right: 3px;
    /* background-color: rgba(139, 133, 163, 0.15); */
    /* background-color: rgba(128, 152, 221, .15); */
    background-color: transparent;
    border: 1px solid rgba(128, 152, 221, .1);
    cursor: pointer;
    font-size: 14px;
}

.scrollsss {
    overflow-y: scroll;
    height: 450px;
}

.scrollsss::-webkit-scrollbar {
    width: 10px;
}

.scrollsss::-webkit-scrollbar-track {
    background: #f1f1f1;
    margin: 0;
    padding: 0;
}

.scrollsss::-webkit-scrollbar-thumb {
    /*background: #0073b7;*/
    background: #7a86ff;
}

.scrollsss::-webkit-scrollbar-thumb:hover {
    /*background: #004872;*/
    background: #616fff;
}

.hvrss:hover {
    background-color: #7a85ffa8;
    color: white;
}

.hvrss:focus {
    /* background-color: #0073b7; */
    background-color: #7a86ff;
    color: white;
    border: 1px solid #6e78e7;
}

.hvrsblock {
    /* background-color: rgb(139, 133, 163, .6); */
    /* background-color: rgba(64, 134, 239, 0.67); */
    /* background-color: #5a5959; */
    background-color: #d7d7d7;
    cursor: default;
}

button:focus {
    outline: none;
}

.difBackColor {
    /* background-color: rgba(128, 152, 221, .15); */
    /* background-color: rgba(128, 152, 221, 0.15); */
    background-color: #7a85ff21;
}

.difBackColor2 {
    /* background-color: rgba(128, 152, 221, .05); */
    /* background-color: rgba(128, 152, 221, 0.07); */
    background-color: #7a85ff11;
}