<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>

  <connectionStrings>
    <add connectionString="Data Source=SQLSERVER;Database=SATIS_DB;Integrated Security=true" name="BAGLAN_DB0"  />
    <add connectionString="Data Source=94.73.170.10;Initial Catalog=u7965308_dbTrio; User Id=u7965308_userTrio;Password=ZPoh43X0;" name="BAGLAN_DB"  />
  </connectionStrings>
</configuration>